{% extends "base.html" %}

{% block title %}Authors{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            <h3>{{author.first_name}}</h3>
            <h6>ID: {{author.id}}</h6>
            <p>Notes: {{author.notes}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Books</h3>
            <ul>
                {% for book in books %}
                    <li>
                        {{book.title}}
                    </li>
                {% endfor %}
            </ul>
            <form method="POST" action="{{author.id}}/new">
                {% csrf_token %}
                <select name="new_books">
                    {% for book in all_books %}
                        <option value="{{book.id}}">{{book.title}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-outline-success">Add</button>
            </form>
        </div>
    </div>
{% endblock %}